body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.weather-app {
  max-width: 400px;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 70%;
}

.search-bar button {
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 0 5px 5px 0;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #2980b9;
}

.weather-details {
  margin-top: 20px;
  text-align: left;
}

.weather-details h2 {
  margin: 0;
  color: #333;
}

.weather-details p {
  margin: 5px 0;
  color: #555;
}
